{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}

	<script src = "{% static 'css/index.css'%}"></script>

{% endblock %}

{% block content %}
	<div>
		<h1>Film Club</h1>
		{% if user.is_authenticated %}
			<p>Hi {{ user.username }}!</p>
			<p> {{ user.email }}</p>
			<p><a href="{% url 'account_logout' %}">Log Out</a></p>
			<p>Your favorite genres are:</p>
				<p>{{ user.first_genre}}</p>
				<p>{{ user.second_genre }}</p>
				<p>{{ user.third_genre}}</p>
		{% else %}
			<p>You are not logged in</p>
			<a href="{% url 'account_login' %}">Log In</a>
	</div>
{% endif %}
	
{% endblock %}

{% block js %}

	<script src = "{% static 'js/index.js'%}"></script>

{% endblock %}